@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css");

* {
    box-sizing: border-box;
    font-family: consolas, "Courier New";
    margin: 0px;
    padding: 0px
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #111;
}

.box {     
    position: relative;       
    width: 420px;
    height: 500px;    
    color: #fff;
    background: #111;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 30px;
    min-width: 350px;
    transition: 0.5s;
}
.box:hover {
    transform: translateY(-10px);
}
.box::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, #ffcb00, #ff0058);
}
.box::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, #ffcb00, #ff0058);
    filter: blur(30px);
}

span {
    position: absolute;
    top: 6px;
    left: 6px;
    right: 6px;
    bottom: 6px;
    background: rgba(0,0,0,0.6);
    z-index: 2;
}

.content {             
    display: flex;
    justify-content: start;
    flex-direction: column;
    
    width: 85%;
    height: 85%;           
    z-index: 10;
    padding: 20px 40px;           
}

h1 {
    font-size: 2rem;
    margin: 0 auto;
    color: #FEFEFE;
}

.input {
    margin: 10px 0;
    padding: 5px;
    border: none;
    border-radius: 5px;
    box-shadow: -10px 5px 20px rgba(0, 0, 0, 0.3);
}
input:focus {
    box-shadow: 0 0 0 0;
    outline: 0;
}

.button {       
    display: block;                
    margin: 0 auto 30px;
    width: 50%;
    padding: 8px 20px;
    color: #FEFEFE;
    text-decoration: none;
    border: none;
    font-size: 1em;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    border-radius: 40px;
    background: linear-gradient(90deg, #ffcc00c8, #ff0059cf);
    transition:all 0.1s ease;
}
.button:hover {
    transform: translateY(-1px);
    box-shadow: -10px 5px 15px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}
.button:active {
    transform: translateY(1px);

}           

#todo-list { 
    display: block;                
    height: 100%;
    list-style: none;    
    overflow: auto;                            
}
#todo-list::-webkit-scrollbar {
    width:10px;
    margin-right: 5px;            
}

#todo-list::-webkit-scrollbar-thumb {
    background: linear-gradient(45deg, #ffcc00c8, #ff0059cf);   
    border-radius: 20px;;        
} 

li {        
    margin-right: 2px;                   
    margin-bottom: 10px;
    padding: 0 5px 0px;             
    border-radius: 5px; 
    background:rgba(254, 254, 254, 0.1);     
    transition: all 0.4s;             
}
li:hover {
    transform: translateY(-1px);
    box-shadow: -5px 5px 15px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}
li:active {            
    transform: translateY(2px);   
}           

p {    
    word-wrap: break-word; 
    margin: 5px 0;
    font-family: consolas;
    font-size: 1em;
    font-weight: bold;   
    transition: all 0.3s;
    white-space: wrap;
                
}

@media (max-width: 450px) {    
    .button {
        font-size: 0.7rem;        
    }
}